# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default

./node_modules
./out

./.next
./sanity/node_modules
./sanity/dist
./logs
*.log