.lighterImage {
	border-radius: 15px;
	object-fit: cover;
}

.maylike-products-container {
	display: flex;
	gap: 15px;
	margin-top: 40px;
}

.marquee {
	position: relative;
	height: 400px;
	width: 100%;
	overflow-x: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 32s linear infinite;
	width: 180%;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
