html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.marquee {
	position: relative;
	height: 400px;
	width: 100%;
	overflow-x: hidden;
}

.maylike-products-container {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
}
.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 15s linear infinite;
	width: 180%;
}
.track:hover {
	animation-play-state: paused;
}
@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
